<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4Net"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

  <appSettings>
    <add key="Function" value="EPI"/> <!--EPI/EQP-->
    <!--EPI Settings-->
    <add key="Target Table(RUN)" value="EPI_RUN_SUMMARY"/>
    <add key="Target Table(WAFER)" value="EPI_WAFER_SUMMARY"/>
    <add key="Target Table(REAGENT)" value="EPI_LAYERSETTINGS_SUMMARY"/>
    <add key="Target Table(LAYER)" value="EPI_LAYERRESULT_SUMMMARY"/>
    <add key="Number of hour of each run" value="2400"/>
    <add key="Maximum row each run" value="10000"/>
    <add key="Default Start Date" value="10/7/2020"/>
    <add key="WaferTypeParameters" value="Area_in_Spec,Average_Val,Center_Val,Edge_Exclusion,Spec_Band,SD"/>
    <add key="ManualRunIds" value="215856278"/>
    <!--Equipment Settings-->
    <add key="Equipment Type" value="CSTEAG01"/>
    <add key="FilePatterns" value="*.000"/> <!--C???.LOG,C????.LOG-->
    <add key="COMEGA02 Summary Source Folder" value="\\THAAPPTDSDEV03\Data\Files to Convert\CASWELL\COMEGA02"/>
    <add key="COMEGA02 Log Source Folder" value="\\cas-share.int.oclaro.com\casfab\ToolData\COMEGA02\[YYYY]\Logs\DATALOG\FULLMV\[MMM]\DAY[DD]"/>
    <add key="CSTEAG01 Summary Source Folder" value="\\THAAPPTDSDEV03\Data\Files to Convert\CASWELL\CSTEAG01"/>
    <add key="Target Table Name1" value="CSTEAG01_SUMMARY"/> <!--COMEGA02_SUMMARY-->
    <add key="Target Table Name2" value=""/>
    <!--Configurations-->
    <add key="Site" value="250"/>
    <add key="Product Family" value="CAS EPI"/> <!--CAS FAB/CAS EPI-->
    <add key="Part Number" value="UNKNOWNPN"/>
    <add key="Operation Prefix" value="EPI-"/> <!--EPI_/COMEGA02-->
    <add key="TestStation" value="UNKNOWN"/>
    <add key="Device Type" value="RUN"/> <!--RUN/LOT-->
    <add key="Test Step Name" value="NA"/>
    <!--File Configurations-->
    <!--<add key="Output XML Path" value="\\li.lumentuminc.net\data\CAS\TDS\Data\EPIDATA\Files to Insert\XML"/>-->
    <!--<add key="Output Table/Image/Attachment Path" value="\\li.lumentuminc.net\data\CAS\TDS\Data\EPIDATA\Files to Insert\Attachment"/>-->
    <add key="Output XML Path" value="C:\Users\lic67888\Box\jacky.li\Documents\Public\20 Kaizen TDS\Caswell\00 Doc\Equipment\Output\XML"/>
    <add key="Output Table/Image/Attachment Path" value="C:\Users\lic67888\Box\jacky.li\Documents\Public\20 Kaizen TDS\Caswell\00 Doc\Equipment\Output\Attachment"/>
    <!--<add key="Output XML Path" value="\\THAAPPTDSDEV03\Data\Files to Insert\CSTEAG01\XML"/>-->
    <!--<add key="Output Table/Image/Attachment Path" value="\\THAAPPTDSDEV03\Data\Files to Insert\CSTEAG01\Attachment"/>-->
    <add key="Backup File Path" value="\\THAAPPTDSDEV03\Data\Files to Insert\CSTEAG01\Backup"/>
    <add key="Error File Path" value="\\THAAPPTDSDEV03\Data\Files to Insert\CSTEAG01\Error"/>
    <!--Mail Settings-->
    <add key="mailTitle" value="TDS Conversion Alert"/>
    <add key="sendMail" value="KaizenTDSConverstion@lumentum.com"/>
    <add key="smtpServer" value="relay.li.lumentuminc.net"/>
    <add key="receiveMails" value="jacky.li@lumentum.com"/>
    <add key="SubjectSuffix" value="TEST - "/>
    <add key="TestMail" value="N"/>
  </appSettings>
  <log4net>
    <!--OFF、FATAL、ERROR, WARN, INFO, DEBUG, ALL-->
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
      <!--<appender-ref ref="ConsoleAppender"/>-->
    </root>
    <!--<logger name="WebLogger">
      <level value="DEBUG" />
    </logger>
    <logger name="NHibernate">
      <level value="ERROR" />
    </logger>
    <logger name="NHibernate.SQL">
      <level value="ERROR" />
    </logger>-->
    <!--output file-->
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="appLog/"/>
      <param name="AppendToFile" value="true"/>
      <!-- the constrain the number of log file-->
      <param name="MaxSizeRollBackups" value="-1"/>
      <!-- the size constrain for each log file -->
      <param name="MaximumFileSize" value="10MB"/>
      <!-- RollingStyle Composite by  Size and  Date-->
      <param name="RollingStyle" value="Composite"/>
      <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;"/>
      <param name="StaticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - (%line)  %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL"/>
        <param name="LevelMax" value="OFF"/>
      </filter>
    </appender>
  </log4net>  
<connectionStrings>
  <add name="EpitaxySQLEntities" connectionString="metadata=res://*/EPIModel.csdl|res://*/EPIModel.ssdl|res://*/EPIModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.4.0.129;initial catalog=EpitaxySQL;persist security info=True;user id=lumpastie;password=C0rn15hPa5ty;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/></connectionStrings>
</configuration>
